body {
  margin: 0;
}
.navbar { display: flex; justify-content: space-between; align-items: center; padding: 8px 18px; padding-left: 50px;
            background-color: #f1f1f1; color: #1d1d1d;; position: relative; z-index: 3; position:sticky;
            position: -webkit-sticky; top: 0; box-shadow: 5px 2px 5px 1px #b9b9b9;}


.navbar-toggle { background: none; border: none; font-size: 24px; color: #fafcff; cursor: pointer; display: block; z-index: 1;}

.navbar-menu { display: none; flex-direction: column; align-items: flex-start; }

.navbar-menu  { color: #fafcff; text-decoration: none; padding: 10px 0; }

.navbar-link { color: #252525}

.navbar-menu.open { display: flex; }

@media (min-width: 720px) { 
    .navbar-menu { display: flex; flex-direction: row;}

    .navbar-toggle { display: none;}

    .navbar-menu a { padding: 0 15px;}
}

.navbar-panel {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%; 
    width: 250px; 
    text-align: left;
    background-color: #e4e4e4;
    color: #252525;
    display: flex;
    flex-direction: column;
    padding-top: 40px; 
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .navbar-panel.open {transform: translateX(0);}
  
  .navbar-panel a {padding: 15px; text-decoration: none; color: #252525; width: auto; padding-left: 60px;
  }

  img {
    width: 55px;
    height: auto;
    margin-left: 55px;
  }

  .brand-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2b384d;
    padding: 5px 10px;
    color: #f1f1f1;
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .navbar-panel a:hover {color: #0443f1;}
  
  /* Hide the burger icon on larger screens */
  @media (min-width: 720px) {
    .navbar-toggle {display: none;}

    .navbar-panel {    
        position: static;
        transform: none;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        padding-top: 0; /* Hide the panel on larger screens */}

    .navbar-panel a { padding: 0 15px; }

    .navbar-panel.open { transform: none; }
  }
