body {
  margin: 0;
}
.navbar { display: flex; justify-content: space-between; align-items: center; padding: 8px 18px;
            background-color: #131313; color: rgb(217, 119, 20);; position: relative; z-index: 2;}

.navbar-brand { font-size: 20px }

.navbar-toggle { background: none; border: none; font-size: 24px; color: #fafcff; cursor: pointer; display: block; z-index: 10;}

.navbar-menu { display: none; flex-direction: column; align-items: flex-start; }

.navbar-menu a { color: #fafcff; text-decoration: none; padding: 10px 0; }

.navbar-menu.open { display: flex; }

@media (min-width: 600px) { 
    .navbar-menu { display: flex; flex-direction: row;}

    .navbar-toggle { display: none;}

    .navbar-menu a { padding: 0 15px;}
}

.navbar-panel {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%; 
    width: 250px; 
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 60px; 
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .navbar-panel.open {transform: translateX(0);}
  
  .navbar-panel a {padding: 15px; text-decoration: none; color: white;
  }
  
  .navbar-panel a:hover {background-color: #444;}
  
  /* Hide the burger icon on larger screens */
  @media (min-width: 600px) {
    .navbar-toggle {display: none;}
  
    .navbar-panel {    
        position: static;
        transform: none;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        padding-top: 0; /* Hide the panel on larger screens */}

    .navbar-panel a { padding: 0 15px; }

    .navbar-panel.open { transform: none; }
  }