* { box-sizing: border-box; margin: 0; padding: 0; }

body { font-family: sans-serif; padding: 0 2em; }

.title { text-align: center; margin: 2em 0; font-size: 4em; }

.menu { display: flex; justify-content: center; align-items: center; }

.menu li { 
    display: inline-block;
    margin: 1em;
    font-size: 1.2em;
    padding: 0.5em 1em;
    background: #eee;
    border-radius: 3em;
    cursor: pointer;
    transition: 0.3s;
}

.menu .inactive { background:  #eee;}

.menu .active { background: #ccc};

.menu .active:hover { background: #aeaeae;}

.menu .inactive:hover { background: #dddddd};

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    justify-content: center;
    justify-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2.5em;
}

.article {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 25em;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    padding-bottom: 0.5em;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.article:hover { box-shadow: 0 0 20px rgba(0,0,0,0.2); }

.article-content {
    padding: 0.5em 1em;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    flex-grow: 1;
}

.article-source {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.article-image {
    overflow: hidden;
    margin-bottom: 0.5em;
    position: relative;
    height: 15em;
}

.article-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: 0.7s ease-in-out;
}

.article:hover .article-image img {
    transform: translate(-50%, -50%) scale(1.1);
}

.article p {
    line-height: 25px;
    color: #555;
}

@media screen and (max-width: 1330px) {
    html {
        font-size: 14px;
    }
    .news-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .news-grid {
        grid-template-columns: 1fr;
    }
}