:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
  }
.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #d9d8d8;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    display:flex;
    flex-direction: column;
    
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
}

.form-input label {
    display: block;
    margin-bottom: 5px;
}

.form-input input {
    width: 390px;
    border: 1px solid #fafcff;
    border-radius: 4px;
}
input {
    height: 30px;
    padding: 0px 0px 0px 8px;
}
.form-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #006baa;
    color: #fafcff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-button:hover {
    background-color: #015a9e;
}