.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #fafcff;
    background-color: #313131;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

